torch>=2.8.0
transformers>=4.38.0
pandas>=2.0.0
pyarrow>=14.0.0
scikit-learn>=1.3.0
matplotlib>=3.8.0
numpy>=1.24.0
pyyaml>=6.0.0
neptune>=1.10.0
python-dotenv>=1.0.0
bs4
ftfy
tqdm>=4.66.0
safetensors>=0.4.0
lxml
cupy
natasha>=1.6.0
