services:
  sentiment-api-gpu:
    build:
      context: .
      dockerfile: Dockerfile.gpu
    network_mode: host
    container_name: sentiment-api-gpu
    environment:
      - SENTIMENT_CONFIG_PATH=/app/config.yaml
    volumes:
      - /home/user5/text/.models/mm-bert-3:/app/model:ro
      - /home/user5/text/sentiment-value/runtime/config.yaml:/app/config.yaml:ro
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              device_ids: ["3"]
              capabilities: [gpu]
    restart: unless-stopped

  sentiment-api-cpu:
    build:
      context: .
      dockerfile: Dockerfile.cpu
    network_mode: host
    container_name: sentiment-api-cpu
    environment:
      - SENTIMENT_CONFIG_PATH=/app/config.yaml
    volumes:
      - /home/user5/text/.models/mm-bert-3:/app/model:ro
      - /home/user5/text/sentiment-value/runtime/config.yaml:/app/config.yaml:ro
    restart: unless-stopped
